:root {
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  box-sizing: border-box;
}

.pokemon-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  row-gap: 30px;
  align-items: center;
  padding: 40px;
}

.poke-name:hover {
  text-decoration: underline;
}

.pokemon-div {
  width: 600px;
  height: 300px;
}

.poke-img {
  background: gray;
  border-radius: 20px;
  object-fit: contain;
  width: 150px;
  height: 150px;
  transition: transform 0.25s ease-in-out;
}

.poke-img:hover {
  transform: scale(1.1);
}

.pokemon-select-div {
  display: flex;
  padding-top: 30px;
}

.pokemon-form label {
  padding-right: 20px;
}

.pokemon-select {
  width: 300px;
}

.poke-nav {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  height: 70px;
  border-bottom: 2px solid gray;
}

.poke-nav .btn {
  font-size: 15px;
  border-radius: 10px;
  height: 40px;
  transition: transform 0.25s ease-in-out;
}

.btn:hover {
  transform: scale(1.1);
}
